%html{"xmlns"=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en"}
%head
  %titleBookoid
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
  = csrf_meta_tags

  %body

  = render :partial => "shared/login_tab"
  = render :partial => "shared/to_site" if user_signed_in? && current_user.is_admin

%br

  = render :partial => "shared/staff_tab"

= yield
